{% extends 'admin/change_form.html' %}
{% load static %}

{% block admin_change_form_document_ready %}
{{ block.super }}
<script>
    var $ = django.jQuery;
    var groups = ".js-inline-admin-formset.inline-group";
    var control = ".form-row.field-control";
    var ramp_up = ".form-row.field-ramp_up";
    var ramp_up_percent = ".form-row.field-ramp_up_percent";
    $(ramp_up_percent).hide();
    $(groups).find(control).hide();
    $(groups).find(ramp_up).first().hide();
    $(ramp_up).change(function() {
        if ($(this).find(":radio:checked").val() == 'True') {
                $(this).parents(".module.aligned").find(ramp_up_percent).show();
                } else {
                $(this).parents(".module.aligned").find(ramp_up_percent).hide();
                }
    });
    $(document).ready(function(){
        $(groups).find(control).first().find("input:checkbox")
        .attr("checked", true);
        $(ramp_up).each(function(){
            if ($(this).find(":radio:checked").val() == 'True') {
                $(this).parents(".module.aligned").find(ramp_up_percent).show();
                } else {
                $(this).parents(".module.aligned").find(ramp_up_percent).hide();
                };
            });
    });


</script>
{% endblock %}
