/* 관리자 페이지 드롭다운 메뉴 스타일 정의 */

/* Menu General Styles */
.dropdown-menu a, .dropdown-menu a:hover{
	color: #444444;
    font-size: 15px;
    line-height: 60px;
}
.dropdown-menu,
.dropdown-menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.dropdown-menu li {
	position: relative;
    list-style: none;
}
.dropdown-menu a {
	padding: 0 20px;
	display: block;
	text-decoration: none;
}

.dropdown-menu a:hover {
	text-decoration:none !important;;
}

.dropdown-menu li:hover {
    cursor: pointer;
	background-color:#ffbf02;
}


/* Level 1 Drop Down Menu */
.dropdown-menu > li {
	display: inline-block;
	vertical-align: top;
	margin-left: -4px;
}
.dropdown-menu > li:first-child {
	margin-left: 0;
}
.dropdown-menu > li > a {}
.dropdown-menu > li > a:hover {}


/* Level 2 */
.dropdown-menu > li > ul {
	text-align: left;
	width: 150px;
	display: none;
	background: #ffbf02;
	position: relative;
	top: 100%;
	left: 0;
	z-index: 9999999;
}
.dropdown-menu > li > ul > li:hover{
    background: #00996b;
}
.dropdown-menu > li:hover > ul {
	display: block;
}
.dropdown-menu ul li a {}
.dropdown-menu ul li a:hover {
	background-color:#ffaa02
}

